body {
	color: #2F3338;
	background-color: #EFF0F1;
  margin-left: 4%;
  margin-right: 4%;
  font-family: sans-serif;
}

.top {
  background-image: url('../res/header.svg');
  background-repeat: no-repeat;
  background-size: 4em 2em;
  padding-left: 1em;
  padding-top: 0.4em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  position: relative;
  background-position: 0 0.3em;
}

.mid {
  background-image: url('../res/mid.svg');
  background-repeat: no-repeat;
  background-size: 4em 2em;
  padding-left: 2.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: block;
}

.bot {
  background-image: url('../res/bot.svg');
  background-repeat: no-repeat;
  background-size: 4em 2em;
  padding-left: 2.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: block;
}

footer {
  margin-top: 2em;
}

summary::marker {
  content: "";
}

details > div {
  margin-left: 2em;
}
details > a {
  margin-left: 2em;
}

a:link {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
a:active {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #3DAEE9;
	text-decoration: none;
}

/* .disabled { */
/*   pointer-events: none; */
/*   cursor: default; */
/*   color: #656970; */
/* } */

@keyframes wind {
    from { transform: rotate(0deg);}
    to { transform: rotate(20deg);}
}

.leaf {
    transform: rotate(2deg);
    transform-origin: 0% 0%;
    position: absolute;
    top: 2.2em;
    left: 1.8em;
    background: none;
    animation-name: wind;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.article {
  margin: 0 auto;
  max-width: 45em;
}

.article p a {
  text-decoration: underline;
}

.console {
  overflow-x: auto;
  padding: 1rem;
  background-color: #dcdedf;
}

/* Syntax Highlighting for code */
div.sourceCode {
  overflow-x: auto;
  padding: 1rem;
  background-color: #dcdedf;
}
pre.sourceCode {
  margin: 0;
  padding: 0;
}
code span.co { color: #898887; } /* Comment */
code span.dt { color: #0a79c3; } /* Type */
code span.at { color: #878842; } /* Attribute */
code span.cf { color: #1f1c1b; font-weight: bold; } /* ControlFlow */
code span.dv { color: #b42b2b; } /* DecVal */
code span.pp { color: #da4453; } /* Preprocessor */
code span.st { color: #005523; } /* String */
code span.sc { color: #3daee9; } /* SpecialChar */
